name: CI Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mc_ver: [1.21.4]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle
            cache/
          key: gradle-${{ matrix.MC_VER }}
          restore-keys: |
            gradle-

      - name: Run Gradle tasks
        run: |
          ./gradlew clean -PmcVer="${{ matrix.MC_VER }}" --gradle-user-home cache/
          ./gradlew build -PmcVer="${{ matrix.MC_VER }}" --gradle-user-home cache/
          ./gradlew mergeJars -PmcVer="${{ matrix.MC_VER }}" --gradle-user-home cache/

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: NightlyBuild_${{ matrix.MC_VER }}
          path: |
            Merged/*.jar
            quilt/build/libs/*.jar
            fabric/build/libs/*.jar
            forge/build/libs/*.jar
            neoforge/build/libs/*.jar
            !fabric/build/libs/*-all.jar
            !fabric/build/libs/*-dev.jar
            !fabric/build/libs/*-sources.jar
            !quilt/build/libs/*-all.jar
            !quilt/build/libs/*-dev.jar
            !quilt/build/libs/*-sources.jar
            !forge/build/libs/*-all.jar
            !forge/build/libs/*-dev.jar
            !forge/build/libs/*-sources.jar
            !neoforge/build/libs/*-all.jar
            !neoforge/build/libs/*-dev.jar
            !neoforge/build/libs/*-sources.jar

  api:
    name: Build API
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle
            cache/
          key: gradle-api
          restore-keys: |
            gradle-

      - name: Run Gradle API tasks
        run: |
          ./gradlew api:clean --gradle-user-home cache/
          ./gradlew api:build --gradle-user-home cache/
          ./gradlew api:addSourcesToCompiledJar --gradle-user-home cache/

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Api_NightlyBuild
          path: |
            coreSubProjects/api/build/libs/merged/*.jar
            !coreSubProjects/api/build/libs/merged/*-all.jar
            !coreSubProjects/api/build/libs/merged/*-sources.jar

  pages:
    name: Publish API Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Run Gradle Javadoc tasks
        run: |
          ./gradlew api:clean --gradle-user-home cache/
          ./gradlew api:build --gradle-user-home cache/
          ./gradlew api:javadoc --gradle-user-home cache/
          mkdir public
          cp -r coreSubProjects/api/build/docs/javadoc/. public

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: API Docs
          path: public
